table, th, td {
    border:solid 1px #333;
    font:17px Verdana;    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */    
}
th {
    font-weight: bold;
}
tr td:first-child {                                                  /*first-child or last-child or nth-child(indexNr)*/
    font-weight: bold;
    font-size: 20px;
}
tr td:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}
tr:first-child {
    cursor: default;
}
#th1 {
    cursor: pointer;    
}
#th1:hover {
    background-color: rgba(76, 68, 68, 0.418);
}
#tableRecords {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    border: solid 1px rgb(102, 61, 61);
    color: seagreen;
    margin: 0 auto;
    padding: 0; 
    background-color: #f5f5f5; 
    display: block;
}
#header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    border: solid 1px rgb(102, 61, 61);
    color: seagreen;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
    display: block;  
}
tr {
    cursor: pointer;
}
.second {
    background-color: rgba(255, 199, 45, 0.788);
}
.first {
    background-color: rgba(167, 167, 250, 0.836);
}
#table {
    margin: 0 auto;
}